<div class="container" id="pages-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @cms_page.title.html_safe %></h1>
        <%= image_tag @cms_page.image_1.url %>
        <p><%= @cms_page.text_1.html_safe %></p>
      </div>
    </div>
  </div>
</div>
