<div class="container-fluid" id="pages-header-container">
  <%= image_tag @cms_page.image_1.url, :style => "height:300px;width:100%;" %>
</div>
<div class="container" id="pages-container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @cms_page.title.html_safe %></h1>
      <p><%= @cms_page.text_1.html_safe %></p>
    </div>
  </div>
</div>
<div class="container" id="cta-container">
  <div class="row">
    <div class="col-sm-12">
      <p>We are here to guide you</p>
      <p>Send us a message and get personalized advice</p>
      <button>Contact us</button>
    </div>
  </div>
</div>
