<% content_for :head do %>
  <title>Accounting, Office & Secretarial Services</title>
  <meta name="description" content="P&A Wealth advises and provides effective and comprehensive Panama, Office, Residence & Secretarial services">
  <meta name="keywords" content="Panama Accounting Services, Panama Secretarial Services, Virtual Office, Business Office, Panama Physical Office, Panama Residency Services, Panama  Bank Account Services,  General Manager Services">
<% end %>
<%= render "cmspagelayout" %>
