<% content_for :head do %>
  <title>Citizenship - Antigua & Barbuda</title>
  <meta name="description" content="P&A Wealth will help to get citizenship in Antigua and Barbuda, one of the most flexible economic citizenship programs">
  <meta name="keywords" content="Barbuda Citizenship by Investment program">
<% end %>
<%= render "cmspagelayout" %>
