<% content_for :head do %>
  <title>Banking Services</title>
  <meta name="description" content="Our Group can arrange introductions to international banks for the opening of bank accounts">
  <meta name="keywords" content="Panama Banking Services, Banks in Panama, Banks in Belize, Banks in Cyprus">
<% end %>
<%= render "cmspagelayout" %>
