
<div class="container" id="pages-container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="font-family:Lato !important;">Corporate Services</h1>
      <ul>
        <li><a href="/incorporation_of_companies">Incorporation of Companies</a></li>
        <li><a href="/incorporation_of_foundations">Incorporation of Foundations</a></li>
        <li><a href="/formation_of_trusts">Formation of Trusts</a></li>
        <li><a href="/reinsurance_services">Reinsurance Services</a></li>
        <li><a href="/banking_services">Banking Services</a></li>
        <li><a href="/family_offices">Family Offices</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" id="cta-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>We are here to guide you</h3>
        <p>Send us a message and get personalized advice</p>
        <a href="/contact"><button class="btn-success">Contact us</button></a>
      </div>
    </div>
  </div>
</div>
