<% content_for :head do %>
  <title>Citizenship - Cyprus</title>
  <meta name="description" content="P&A Wealth offers support to obtain citizenship by investment in Cyprus through purchasing in luxury real estate project">
  <meta name="keywords" content="Cyprus Economic Citizenship, Cyprus Citizenship by Investment">
<% end %>
<%= render "cmspagelayout" %>
