<% content_for :head do %>
  <title>Residency - Cyprus</title>
  <meta name="description" content="P&A Wealth provides full immigration services to obtain the residency in Cyprus">
  <meta name="keywords" content="Cyprus Residency">
<% end %>
<%= render "cmspagelayout" %>
