<% content_for :head do %>
  <title>Citizenship - Dominica</title>
  <meta name="description" content="P&A Wealth provides Citizenship by investment in Dominica ">
  <meta name="keywords" content="Dominica citizenship by investment, Dominica Economic Citizenship">
<% end %>
<%= render "cmspagelayout" %>
