<% content_for :head do %>
  <title>Family Offices</title>
  <meta name="description" content="P&A Wealth provides support on Family Office">
  <meta name="keywords" content="Panama Family Offices">
<% end %>
<%= render "cmspagelayout" %>
