<% content_for :head do %>
  <title>Formation of Trusts</title>
  <meta name="description" content="P&A Wealth provides advice on, formation of trust or Private foundations">
  <meta name="keywords" content="Panama Trusts, Private Foundations">
<% end %>
<%= render "cmspagelayout" %>
