<% content_for :head do %>
  <title>Citizenship - Grenada</title>
  <meta name="description" content="P&A Wealth provides Citizenship by investment in Grenada">
  <meta name="keywords" content="Grenada Citizenship by Investment, Grenada Economic Investment Program">
<% end %>
<%= render "cmspagelayout" %>
