<% content_for :head do %>
  <title>Incorporation of Foundations</title>
  <meta name="description" content="P&A Wealth can help you to  create a Panama  Private Interest Foundation">
  <meta name="keywords" content="Incorporation of Private Interest Foundations, Panama Trust">
<% end %>
<%= render "cmspagelayout" %>
