<% content_for :head do %>
  <title>Incorporation of Companies</title>
  <meta name="description" content="P&A Wealth has experience in registering and forming Companies in BVI, Belize, Seychelles and Panama">
  <meta name="keywords" content="Panama Company, Panama Private Interest Foundation,  Belize Company, BVI Company,  Seychelles Company">
<% end %>
<%= render "cmspagelayout" %>
