<% content_for :head do %>
  <title>International tax planning</title>
  <meta name="description" content="P&A Wealth provides advice on how to best take advantage of all available tax benefits to minimize their tax liability">
  <meta name="keywords" content="Panama International tax planning, Panama International Tax matters,  Panama Tax benefits, Tax advantages in Panama">
<% end %>
<%= render "cmspagelayout" %>
