<% content_for :head do %>
  <title>Legal Services</title>
  <meta name="description" content="P&A Wealth offers a range of Panama legal solutions">
  <meta name="keywords" content="Panama attorney, Panama lawyer ">
<% end %>
<%= render "cmspagelayout" %>
