<% content_for :head do %>
  <title>Citizenship - Malta</title>
  <meta name="description" content="P&A Wealth provides Citizenship by investment in Malta">
  <meta name="keywords" content="Malta Citizenship by Investment, Malta Citizenship, Malta Citizenship Application, Malta Citizenship Services">
<% end %>
<%= render "cmspagelayout" %>
