<% content_for :head do %>
  <title>Residency - Malta</title>
  <meta name="description" content="P&A Wealth provides full immigration services to obtain the residency in Malta">
  <meta name="keywords" content="Malta Residency,  Malta immigration">
<% end %>
<%= render "cmspagelayout" %>
