<% content_for :head do %>
  <title>Residency - Monaco</title>
  <meta name="description" content="P&A Wealth provides full immigration services to obtain the residency in Monaco">
  <meta name="keywords" content="Monaco Residency, Monaco immigration">
<% end %>
<%= render "cmspagelayout" %>
