<% content_for :head do %>
  <title>Residency - Panama</title>
  <meta name="description" content="P&A Wealth provides full immigration services to obtain the residency in Panama">
  <meta name="keywords" content="Panama Immigration, Panama Permanent Residency, Panama Friendly Country Visa, Retirement in Panama">
<% end %>
<%= render "cmspagelayout" %>
