<% content_for :head do %>
  <title>Residency - Panama</title>
  <meta name="description" content="P&A Wealth provides full immigration services to obtain second passport in Panama">
  <meta name="keywords" content="Second Passport Panama">
<% end %>
<%= render "cmspagelayout" %>
