<% content_for :head do %>
  <title>Real Estate</title>
  <meta name="description" content="Real Estate in Antigua & Barbuda, Real Estate in Cyprus, Real Estate in Dominica, Real Estate in Grenada, Real Estate in Panama, Real Estate in St. Kits & Nevis">
  <meta name="keywords" content="Panama Real Estate, Real Estate in Antigua & Barbuda, Real Estate in Cyprus,Real Estate in Dominica, Real Estate in Grenada, Real Estate in Panama, Real Estate in St. Kits & Nevis ">
<% end %>
<%= render "cmspagelayout" %>
