<% content_for :head do %>
  <title>Reinsurance services</title>
  <meta name="description" content="P&A Wealth provides the full range of reinsurance in Panama">
  <meta name="keywords" content="Reinsurance in Panama">
<% end %>
<%= render "cmspagelayout" %>
