<% content_for :head do %>
  <title>Citizenship - St. Kitts & Nevis</title>
  <meta name="description" content="P&A Wealth offers Kitts and Nevis Citizenship by investment">
  <meta name="keywords" content="St. Kitts and Nevis Citizenship, St. Kitts and Nevis Citizenship by investment">
<% end %>
<%= render "cmspagelayout" %>
