<div class="container-fluid" id="pages-header-container">
  <%= image_tag @cms_page.image_1.url %>
</div>
<div class="container" id="pages-container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="font-family:Lato !important;"><%= @cms_page.title.html_safe %></h1>
      <p><%= @cms_page.text_1.html_safe %></p>
    </div>
  </div>
</div>
<div class="container-fluid" id="cta-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>We are here to guide you</h3>
        <p>Send us a message and get personalized advice</p>
        <a href="/contact"><button class="btn-success">Contact us</button></a>
      </div>
    </div>
  </div>
</div>
