<% content_for :head do %>
  <title>Citizenship - St. Lucia</title>
  <meta name="description" content="P&A Wealth offers Citizenship by investment in St. Lucia">
  <meta name="keywords" content="St. Lucia Citizenship, St. Lucia Citizenship by Investment, St. Lucia Economic Citizenship">
<% end %>
<%= render "cmspagelayout" %>
