<% content_for :head do %>
  <title>Succession Planning</title>
  <meta name="description" content="Succession Planning">
  <meta name="keywords" content="Panama Succession Planning">
<% end %>
<%= render "cmspagelayout" %>
