<% content_for :head do %>
  <title>Tax Residence</title>
  <meta name="description" content="P&A Wealth provides advice on tax benefits to minimize their tax liability">
  <meta name="keywords" content="Tax Residence, Fiscal residence">
<% end %>
<%= render "cmspagelayout" %>
