
<div class="container" id="pages-container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="font-family:Lato !important;">Wealth</h1>
      <ul>
        <li><a href="/multi_family_office">Multi-Family Office</a></li>
        <li><a href="/international_tax_planning">International Tax Planning</a></li>
        <li><a href="/succession_planning">Succession Planning</a></li>
        <li><a href="/wealth_management">Wealth Management</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" id="cta-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>We are here to guide you</h3>
        <p>Send us a message and get personalized advice</p>
        <a href="/contact"><button class="btn-success">Contact us</button></a>
      </div>
    </div>
  </div>
</div>
