<% content_for :head do %>
  <title>Wealth Management</title>
  <meta name="description" content="Panama Wealth, Tax and Corporate Services">
  <meta name="keywords" content="Panama  Wealth, Panama company,  Panama Incorporation, Panama Fiduciary, Panama Banking Services">
<% end %>
<%= render "cmspagelayout" %>
