<div class="container" id="pages-container">
  <div class="row" id="cms-index">
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <h1>Results found</h1>
      <br />
      <table>
        <tbody>
          <% @cms_pages.each do |cms_page| %>
            <tr>
              <td><%= link_to cms_page.title, cms_page %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @cms_pages.blank? %>
        <h4>There are no pages containing the term <%= params[:search] %>.</h4>
      <% end %>
      <br />
      <br />

    </div>
  </div>
</div>
