<div class="container" id="pages-form">
  <div class="row">
    <div class="col-sm-12">
      <h1>New Cms Page</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @cms_page %> |
      <%= link_to 'Back', admin_path %>
    </div>
  </div>
</div>
