<div class="container" id="dashboard-container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard</h1>
      <a href="/cms_pages">Pages index</a>
      <h2>Fermer votre session <%= link_to "Logout", :logout, id: "logout-link", method: :post %></h2>
    </div>
  </div>
</div>
