<div class="container" id="dashboard-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard</h1>
      <p>You are logged in. If you wish to exit <%= link_to "Logout", :logout, id: "logout-link", method: :post %></p>
    </div>
    <div class="col-sm-3">
      <div class="list-group">
          <a href="/admin" class="list-group-item active">Admin</a>
          <a href="/admin/pages" class="list-group-item">Pages</a>
          <a href="/admin/contacts" class="list-group-item">Contacts</a>
          <a href="/admin/news" class="list-group-item">News</a>
        </div>
    </div>
    <div class="col-sm-9">
      <p>Bienvenido al gestor de la página web P&A Wealth. En esta plataforma podrás:</p>
      <ul>
        <li><a href="/admin"><strong>Admin</strong></a><p> Accesar el dashboard</p></li>
        <li><a href="/admin/pages"><strong>Pages</strong></a><p> Editar el contenido de las secciones internas del website.  No se pueden generar nuevas páginas web, solo realizar ajustes en las ya existentes.</p></li>
        <li><a href="/admin/contacts"><strong>Contacts</strong></a><p> Revisar la cantidad de usuarios que han escrito en el formulario de contactos.</p></li>
        <li><a href="/admin/news"><strong>Pages</strong></a><p> Crear y editar las noticias que se ubican en el homepage.</p></li>
      </ul>
    </div>
  </div>
</div>
