<div class="container" id="dashboard-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard</h1>
      <p>You are logged in. If you wish to exit <%= link_to "Logout", :logout, id: "logout-link", method: :post %></p>
    </div>
    <div class="col-sm-3">
      <div class="list-group">
          <a href="/admin" class="list-group-item active">Admin</a>
          <a href="/admin/pages" class="list-group-item">Pages</a>
          <a href="/admin/contacts" class="list-group-item">Contacts</a>
          <a href="/admin/news" class="list-group-item">News</a>
        </div>
    </div>
    <div class="col-sm-9">
      <h2>Welcome to the admin</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <ul>
        <li><a href="/admin"><strong>Admin</strong></a><p> Access your dashboard</p></li>
        <li><a href="/admin/pages"><strong>Pages</strong></a><p> Make changes and edit your internal pages</p></li>
        <li><a href="/admin/contacts"><strong>Contacts</strong></a><p> Check who has filled out the contact form</p></li>
        <li><a href="/admin/news"><strong>Pages</strong></a><p> Create and modify the news on the homepage</p></li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
