<div class="container" id="homepage-form">
  <div class="row">
    <div class="col-sm-12">
      <h1>Editing Homepage</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @cms_homepage %> |
      <%= link_to 'Back', cms_homepages_path %>
    </div>
  </div>
</div>
