<div class="container-fluid" id="new-user">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <h1>Create a new user</h1>

        <%= render 'form' %>

        <%= link_to 'Back', root_path %>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
</div>
