<div class="container" id="pages-form">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit contact</h1>

      <%= render 'form' %>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
