<div class="container" id="pages-form">
  <div class="row">
    <div class="col-sm-12">
      <h1>Contact us</h1>
      <p>
        P&A Wealth strives to be the closest and fastest response that their clients need, wherever and whenever. Please leave us a message or ask us any question regarding our services or fees.
      </p>

      <%= render 'form' %>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
