<div class="container" id="pages-form">
  <div class="row">
    <div class="col-sm-8">
      <h1>Contact us</h1>
      <p>Thank you for your interest in our services.</p>

      <%= render 'form' %>

      <%= link_to 'Back', root_path %>
    </div>
    <div class="col-sm-4">
      <h1>Get in touch</h1>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Plaza 2000 Tower, 10th Floor, 50th Street, Panama City</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i>  (+507) 223-7222</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:clientservices@padela.com">clientservices@padela.com</a></p>
    </div>
  </div>
</div>
