// Place all the styles related to the CmsPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages-form {
  margin-top: 3em;
  margin-bottom: 3em;

  p {
    font-size:16px;

  }
  input {
    width:100%;
    padding: 0.5em;
    font-size: 1.5em;
  }
  textarea {
    width:100%;
    padding: 0.5em;
    font-size: 1.5em;
  }

  label {
    font-size: 1.5em;
  }

  select {
    font-size: 1.5em;
  }

  .actions {
    input {
      font-size:1.6em;
      background: #2574A9;
      border: #2574A9;
      padding:1em 0.5em;
      font-weight: 700;
      color:white;
      &:hover {
        background: #03C9A9;
        border: #03C9A9;
      }
    }
  }
}
