// Place all the styles related to the CmsHomepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homepage-form {
  margin-top: 3em;
  margin-bottom: 3em;
  input {
    width:100%;
    padding: 0.5em;
    font-size: 1.5em;
  }
  textarea {
    width:100%;
    padding: 0.5em;
    font-size: 1.5em;
  }

  label {
    font-size: 1.5em;
  }

  select {
    font-size: 1.5em;
  }

  .actions {
    input {
      font-size:1.6em;
      background: #DB0A5B;
      border: #DB0A5B;
      padding:1em 1.5em;
      font-weight: 700;
      &:hover {
        background: #03C9A9;
        border: #03C9A9;
      }
    }
  }
}
