#header-container {
  img {
    height:500px;
    max-width:none;
  }
}

#news-container {
  margin-top: 3em;
  margin-bottom: 3em;
  p {
    font-size: 18px;
    line-height:1.25em;
  }

  #news-title {
    font-weight:bolder;
  }

  #news-content {
    font-size:16px;
  }

  .row .col-sm-4:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
  }
}

#description-container {
  margin-top: 5em;
  margin-bottom: 5em;
  p {
    font-size: 25px;
    line-height:1.25em;
  }
}

#description-image-container {
  img {
    width:100%;
  }
}


#pages-container {
  h1 {
    font-weight:bold;
    text-align:center;
    margin-top:2em;
    margin-bottom:0.5em;
  }
  p {
    font-size:1.5em;
  }
  img {
    width:100%;
    height:auto;
  }
  #pages-list {
    list-style:none;
    line-height:1.1em;
    font-size:18px;
    margin-bottom:3em;
  }
  ul {
    #immigration-title {
      font-weight:bold;
      font-size:1.1em;
    }
  }
}

#pages-header-container {
  padding-left:0px;
  padding-right:0px;
  img {
    height:201px;
    width:100%;
  }
}
#cta-container {
  margin-top:3em;
  background:#2574A9;
  color:white;
  padding:3em 0;
  h3 {
    font-weight:bold;
  }
  p {
    font-size:18px;
  }
}

a.right.carousel-control {
  &:hover {
    background:none;
  }
}
a.left.carousel-control {
  &:hover {
    background:none;
  }
}
