#header-container {
  img {
    height:500px;
    width:100%;
  }
}

#news-container {
  margin-top: 3em;
  margin-bottom: 3em;
  p {
    font-size: 18px;
    line-height:1.25em;
  }

  #news-title {
    font-weight:bolder;
  }

  #news-content {
    font-size:16px;
  }

  .row .col-sm-4:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
  }
}

#description-container {
  margin-top: 5em;
  margin-bottom: 5em;
  p {
    font-size: 18px;
    line-height:1.25em;
  }
}

#description-image-container {
  img {
    width:100%;
  }
}


#pages-container {
  h1 {
    font-weight:bold;
    text-align:center;
    margin-top:2em;
    margin-bottom:1.5em;
  }
  p {
    font-size:1.5em;
    margin-bottom:3em;
  }
}

#pages-header-container {
  padding-left:0px;
  padding-right:0px;
}
