<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New contact form</h1>
    <p>
      Client name: <%= @contact.name %>
    </p>
    <p>
      Client message : <%= @contact.message %>
    </p>
  </body>
</html>
