<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pardini Wealth</h1>
    <h2>Contact form registered</h2>
    <p>
      Client: <%= @contact.name %>
    </p>
    <p>
      Email: <%= @contact.email %>
    </p>
    <p>
      Phone number: <%= @contact.phone_number %>
    </p>
    <p>
      Message : <%= @contact.message %>
    </p>
  </body>
</html>
