<footer>
  <div class="container" id="footer-container">
    <div class="row">
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">About us</li>
          <li>P&A Wealth is a group owned by Pardini & Asociados specialized in Private Clients providing comprehensive services on wealth, immigration, corporate, tax, accounting, office and legal matters.</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">Contact details</li>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>  Plaza 2000 Tower, 10th Floor, 50th Street, Panama City</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>  (+507) 223-7222</li><br />
          <li>
            <a href="https://www.facebook.com/PardiniyAsociados/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/Pardinilaw" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/108535352020685608609" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company-beta/10046356" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">Sitemap</li>
          <li><a href="/">Home</a></li>
          <li><a href="/wealth">Wealth</a></li>
          <li><a href="/immigration">Immigration</a></li>
          <li><a href="/corporate_services">Corporate services</a></li>
          <li><a href="/accounting_office_and_secretarial_services">Accounting, office & secretarial services</a></li>
          <li><a href="/legal">Legal services</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <a href="http://www.pardini.co" id="copyright">&copy;2017 Designed by Pardini Co.</a>
      </div>
    </div>
  </div>
</footer>
