<footer>
  <div class="container" id="footer-container">
    <div class="row">
      <div class="col-lg-4">
        <ul>
          <li>
            <p>
              P&A Wealth is a group owned by Pardini & Asociados specialized in Private Clients providing comprehensive services on wealth, immigration, corporate, tax, accounting, office and legal matters.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">Address</li>
          <li>Torre 2000 piso 10</li>
          <li>Calle 50</li>
          <li>Panama City</li>
          <li>Panama</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">Sitemap</li>
          <li><a href="/">About us</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">Search</a></li>
          <li><a href="/">Contact us</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <a href="http://www.pardini.co" id="copyright">&copy;2017 Designed by Pardini Co.</a>
      </div>
    </div>
  </div>
</footer>
