<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul>
          <li>
            <p>
              Bayat Group is a boutique law firm specializing in business immigration, economic citizenship and corporate immigration.
            </p>
            <p>
              Migrating to, and investing in, another country are extremely serious decisions. Choosing Bayat Group to manage your application will ensure you achieve your goal to successfully establishing yourself in a new country.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">Addresse</li>
          <li>39 rue Francois Rude</li>
          <li>94230 Cachan</li>
          <li>France</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li id="footer-titles">Plan du site</li>
          <li><a href="/presentation">Présentation</a></li>
          <li><a href="/events">Événements</a></li>
          <li><a href="/references">Références</a></li>
          <li><a href="/contact">Contactez-nous</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <a href="http://www.pardini.co" id="copyright">&copy;2017 Designed by Pardini Co.</a>
      </div>
    </div>
  </div>
</footer>
