<nav class="navbar navbar-default navbar-static">
    <div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/"><%= image_tag('pa-logo.png', style: "height:75px") %></a>
	</div>


	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Wealth <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/multi_family_office">Multi-Family Office</a></li>
          <li><a href="/international_tax_planning">International Tax Planning</a></li>
          <li><a href="/succession_planning">Succession Planning</a></li>
          <li><a href="/wealth_asset_management">Wealth Management</a></li>
        </ul>
      </li>
			<li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Immigration <b class="caret"></b></a>

				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Citizenship</li>
							<li><a href="/immigration/citizenship_antigua_barbuda">Antigua & Barbuda</a></li>
              <li><a href="/immigration/citizenship_cyprus">Cyprus</a></li>
							<li><a href="/immigration/citizenship_dominica">Dominica</a></li>
              <li><a href="/immigration/citizenship_grenada">Grenada</a></li>
              <li><a href="/immigration/citizenship_malta">Malta</a></li>
              <li><a href="/immigration/citizenship_st_kitts_nevis">St. Kitts & Nevis</a></li>
              <li><a href="/immigration/citizenship_st_lucia">St. Lucia</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Residency</li>
							<li><a href="/immigration/residency_cyprus">Cyprus</a></li>
							<li><a href="/immigration/residency_malta">Malta</a></li>
							<li><a href="/immigration/residency_monaco">Monaco</a></li>
							<li><a href="/immigration/residency_panama">Panama</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Second passport</li>
							<li><a href="/immigration/second_passport_panama">Panama</a></li>
						</ul>
					</li>
          <li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Other services</li>
              <li><a href="/">Real Estate</a></li>
              <li><a href="/">Tax Residence</a></li>
						</ul>
					</li>
				</ul>
			</li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Corporate Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/incorporation_companies">Incorporation of Companies</a></li>
          <li><a href="/incorporation_foundations">Incorporation of Foundations</a></li>
          <li><a href="/formation_of_trusts">Formation of Trusts</a></li>
          <li><a href="/reinsurance_services">Reinsurance Services</a></li>
          <li><a href="/banking_services">Banking Services</a></li>
          <li><a href="/family_offices">Family Offices</a></li>
        </ul>
      </li>
      <li><a href="/accounting_office_and_secretarial_services">Accounting, Office & Secretarial Services</a></li>
      <li><a href="/legal">Legal</a></li>
		</ul>

	</div><!-- /.nav-collapse -->
</nav>
